# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.venv/
ENV/

# VSCode
.vscode/

# Logs
debug.log
logs/
!logs/.gitkeep


# System
.DS_Store
Thumbs.db

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json

# Coverage
.coverage
htmlcov/

# Others
*.swp
